@import "mixins";
@import "variables";

.time-select-container {
	
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

	width: 275px;
  height: 325px;

	padding: 15px;
	background-color: $dateme-bg-color;
	border-radius: 5px;
	user-select: none;

	.time-seperator {
		width: 32px;
		height: 65px;
		font-size: 38px;
    line-height: 65px;
		display: inline-block;
		text-align: center;
		color: $dateme-fg-color;
	}

	input[type=range] {
		width: 100%;
	  height: 34px;
	  margin: 10px 0;
	  -webkit-appearance: none;
	  background: transparent;
	}

	input[type=range]:focus {
	  outline: none;
	}

	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 4px;
	  cursor: pointer;
	  background: #DFE0E4;
	  border-radius: 3px;
	  border: 0px;
	}

	input[type=range]::-webkit-slider-thumb {
	  /* border: 2px solid $dateme-fg-color; */
	  box-shadow: 1px 1px 8px #000000;
	  height: 24px;
	  width: 24px;
	  border-radius: 50px;
	  background: #FFFFFF;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -11.5px;
	}

	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #DFE0E4;
	}

	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 4px;
	  cursor: pointer;
	  background: #DFE0E4;
	  border-radius: 3px;
	  border: 0px;
	}

	input[type=range]::-moz-range-thumb {
	  /* border: 2px solid $dateme-fg-color; */
	  box-shadow: 1px 1px 3px #000000;
	  height: 24px;
	  width: 24px;
	  border-radius: 50px;
	  background: #FFFFFF;
	  cursor: pointer;
	}

	input[type='range']::-moz-focus-outer { border: 0; }

	input[type=range]::-ms-track {
	  width: 100%;
	  height: 4px;
	  cursor: pointer;
	  animate: 0.2s;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}

	input[type=range]::-ms-fill-lower {
	  background: #DFE0E4;
	  border: 0px;
	  border-radius: 6px;
	  box-shadow: 0px 0px 0px #000000;
	}

	input[type=range]::-ms-fill-upper {
	  background: #DFE0E4;
	  border: 0px;
	  border-radius: 6px;
	  box-shadow: 0px 0px 0px #000000;
	}

	input[type=range]::-ms-thumb {
	  margin-top: 1px;
	  border: 2px solid $dateme-fg-color;
	  height: 24px;
	  width: 24px;
	  border-radius: 50px;
	  background: #FFFFFF;
	  cursor: pointer;
	}

	input[type=range]:focus::-ms-fill-lower {
	  background: #DFE0E4;
	}

	input[type=range]:focus::-ms-fill-upper {
	  background: #DFE0E4;
	}

	.range-thumb {

		width: 24px;
		height: 24px;
		border: 3px solid #1385e5;
		border-radius: 50%;
		background-color: $dateme-bg-color;
		transform: translate(-30%, -25%);
    
	}

	.time-label {
		margin: 0;
		color: $dateme-fg-color;
	}

	.hour-container{
		margin-left: 20px;
		margin-right: 20px;
		height: 50px;
	}

	.minutes-container {
		margin-left: 20px;
		margin-right: 20px;
		height: 50px;
	}

}