/* Default Styles */

$nav-height: 55px !default;
$nav-bg-color: #333 !default;
$nav-gutter-left: 15px !default;
$nav-gutter-right: 15px !default;

.react-topnav {
	
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	overflow: hidden;

	height: $nav-height;
	background-color: $nav-bg-color;
	padding-left: $nav-gutter-left;
	padding-right: $nav-gutter-right;

	.topnav-container-items {

			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-grow: .5;
			align-items: center;
	}

	.topnav-container-title {

		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		  font-size: 20px;
		  color: #CDD6CF;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			flex-grow: .5;

	}

}
